# Directory specific to Spring
target/
*.iml

# IntelliJ IDEA
.idea/
*.ipr
*.iws

# Maven
/.mvn/
/mvnw
/mvnw.cmd

# Spring Boot specific
*.jar
*.war

# OS-specific files
*.log
.DS_Store
thumbs.db

# Java specific
*.class
*.war
*.jar

# Dependency directories
.gradle/
build/
out/
lib/

# Other
*.pyc
*.pyo
*.DS_Store
*.swp
*.bak
*.swx
*.bak
*.bkp

# Windows
Thumbs.db
